.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 400px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 8px;
  z-index: 10;
  color: whitesmoke;
}

.card h1 {
  font-size: 2.2rem;
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 8px;
}

.card .text-field {
  width: 100%;
  border-radius: 4px;
  color: white;
}

.card .text-field input {
  color: white;
}

.card .text-field label {
  color: rgb(144, 144, 144);
}

.card .smallBtn {
  padding: 0.25rem;
  color: rgb(3, 173, 215);
}

.displayBlock {
  display: block;
}

.googleBtn {
  width: 250px;
  height: 50Px;
}